<%- include('partials/header') %>

<div>
    <h1>SZX</h1>
    <p>Buy everything you want!</p>
    <hr>
    <a href="/signup" role="button">Register</a>
    <a href="/login" role="button">Login</a>
</div>

<%- include('partials/footer') %>